DATABASE_URL=jdbc:postgresql://localhost:5432/your_database_name
DATABASE_USER=your_db_user
DATABASE_PASSWORD=your_db_password
FIREBASE_CREDENTIALS_PATH=src/main/resources/firebase-service-account.json
STORAGE_PATH=./storage
SERVER_PORT=8080
